@model SusOnTrack.Models.PostoCadastroModel
@using System.Collections.Generic
@{
    Layout = "~/Views/Shared/_LayoutPaciente.cshtml";
    ViewBag.Title = "Cadastro de Postos";
}
@section styles{

    @Styles.Render("~/Content/css")

}
@section scripts{

    @Scripts.Render("~/bundles/jsPopular")

}

@*@Html.HiddenFor(Model => Model.IdPesquisa, new { @id = "id" })*@


@using (Html.BeginRouteForm("", FormMethod.Post, htmlAttributes: new { @class = "Form", @id = "iForm" }))
{
    <header class="row justify-content-center">
        <h1>@ViewBag.Title</h1>
    </header>

    <section class="container">

        <div class="row">
            <div class="col-sm-3">
                <div class="form-group">
                    @Html.HiddenFor(mod => mod.Id, new { @id = "iId" })
                </div>
            </div>
        </div>

        @*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*@
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    @Html.LabelFor(mod => mod.NomeInstituicao, "Nome da Instituição", new { @id = "", @class = "" })

                    @Html.TextBoxFor(mod => mod.NomeInstituicao, new { @id = "iNomeInstituicao", @class = "form-control" })
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.LabelFor(mod => mod.VacinasDisponiveis, "Vacinas Disponiveis", new { @id = "", @class = "" })
                    @Html.TextBoxFor(mod => mod.VacinasDisponiveis, new { @id = "iVacinasDisponiveis", @class = "form-control" })
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.LabelFor(mod => mod.Posicao, "Posição Geográfica", new { @id = "", @class = "" })
                    @Html.TextBoxFor(mod => mod.Posicao, new { @id = "iPosicao", @class = "form-control" })
                </div>
            </div>

            <div class="row ml-3">
                <input id="" type="submit" class="form-control ml-2" value="Cadastrar">
            </div>

        </div>

    </section>
}



@section Local_Js{
    <script type="module">
        let module = await import("https://localhost:44352/SUS/Scripts/teste.js")
            .then(variables => {

                window.URLPORTAL = variables["URLPORTAL"];
                return variables["URLPORTAL"];

            });
    </script>

    <script type="text/javascript">
        const doc = document,
            Exemplo = doc.querySelector("#idExample"),
            URLPORTAL = window.URLPORTAL,
            Select = doc.querySelector("#idSelect");


        Select.addEventListener("change",
            /**
             * evento para determinar option selecionada
             * @@param event{number}
             */
            async function (event) {
                let valorEscolhido = event.target.value,
                    arrayDescriptions = event.target.textContent.split('\n').filter(p => { return p; }),
                    item = arrayDescriptions[valorEscolhido];

                if (item == undefined) {

                    item = arrayDescriptions[0];

                }

                await requestFromValue(valorEscolhido);
            });
        async function GetAll() {
            await $.post({ url: `${window.URLPORTAL}/api/PacienteApi/GetAll` })
                .done(data => {
                    let example = doc.querySelector("#iExample");
                    example.textContent = "Consulta bem sucedida";
                    data.objeto.forEach(p => {
                        let obj = JSON.stringify(p);
                        example.textContent += `\n${obj}`;
                        console.log(obj);
                    });
                })
                .fail(data => {
                });
        }
        async function Gravar() {
            await $.post({
                url: `${window.URLPORTAL}/api/PacienteApi/Gravar`,
                data: {
                    Id: 2,
                    Nome: "Anderson",
                    NumeroSUS: '0123485',
                    DataNascimento: '12/01/1986'
                }
            })
                .done(data => {
                    let example = doc.querySelector("#iExample");
                    example.textContent = "Registro gravado com sucesso";
                    data.objeto.forEach(p => {
                        let obj = JSON.stringify(p);
                        example.textContent += `\n${obj}`;
                        console.log(obj);
                    });
                })
                .fail(data => {
                });
        }

        async function Excluir(id) {
            await $.get({
                url: `${window.URLPORTAL}/api/PacienteApi/Excluir?Id=${id}`,
            })
                .done(data => {
                    let example = doc.querySelector("#iExample");
                    example.textContent = "Registro deletado com sucesso";
                    data.objeto.forEach(p => {
                        let obj = JSON.stringify(p);
                        example.textContent += `\n${obj}`;
                        console.log(obj);
                    });
                })
                .fail(data => {
                });
        }


    </script>
}


